

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #B22234;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
  }
  
  #booklist ul,
  #resources ul {
    list-style-type: none;
    padding: 0;
  }
  
  #booklist ul li {
    margin-bottom: 10px;
  }
  
  #booklist p a {
    background-color: #B22234;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  footer {
    background-color: #B22234;
    color: #fff;
    padding: 10px;
    text-align: center;
  }


  .vl {
    border-left: 7px solid green;
    height: 100px;
    position: left;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }

