.footer {
    background-color: #222222;
    color: white;
    padding: 50px 0;
  }
  .footer-contact p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: small;
  }
  .footer-year p{
    color: lightgray;
  }

  .footer-logo {
    max-width: 250px;
    margin-bottom: 20px;
        margin-top: 40px;
  }

  .footer-contact {
    margin-bottom: 50px;
  }
  .footer p{
font-family: 'Poppins', sans-serif;
}

  .footer-quick-links {
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 2;
  }
  .footer h4{ 
    color: #63aaff;
    font-family: 'Poppins', sans-serif;
  }
  .footer-quick-links li{
    list-style: none;
    margin-bottom: 5px;
  }

  .footer-quick-links li a {
    color: white;
    text-decoration: none;
  }
  .footer-information {
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 2;

  }

  
  .footer-information li {
    list-style: none;
    margin-bottom: 5px;
  }

  .footer-information li a {
    color: white;
    text-decoration: none;
  }

  .footer-social-media {
    margin-bottom: 20px;
    text-align: right;
  
  }

  .footer-social-media ul {
    list-style-type: none;
    padding-left: 0;
  }

  .footer-social-media ul li {
    display: inline-block;
    margin-right: 10px;
  }
  .footer-social-media ul li a {
    color: white;
  }
  
  